<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="broccoli.donotplaythisgame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="level1to5.ActivityLevel1"
            android:label="@string/activity_level1"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
        <activity
            android:name="level1to5.ActivityLevel2"
            android:label="@string/activity_level2"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
        <activity
            android:name="level1to5.ActivityLevel3"
            android:label="@string/activity_level3"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
        <activity
            android:name="level1to5.ActivityLevel4"
            android:label="@string/activity_level4"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
        <activity
            android:name="level1to5.ActivityLevel5"
            android:label="ActivityLevel5"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait">
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

            <!--
            <receiver android:name="MediaButtonReceiver">
                <intent-filter>
                    <action android:name="android.media.VOLUME_CHANGED_ACTION" />
                </intent-filter>
            </receiver>
            -->

        </activity>
        <activity
            android:name=".ActivitySelector"
            android:label="@string/activity_selector"
            android:parentActivityName=".ActivityMain"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="broccoli.donotplaythisgame.ActivityMain" />
        </activity>
        <receiver android:name="MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
